{% extends 'layouts/b.html' %}

{% block content %}

<div class="container">
    <div class="content">
        <div class="flex items-center justify-between">
           
            <div class="login-container">
                <h2>Create Items</h2>
                <div class="login-form">

                    <form method="POST" action="{% url 'items' %}">
                    {% csrf_token %}
                    <label for="fname">Name:</label><br>
                    <input type="text" id="name" name="name" placeholder="Item Name"><br>
                    <label for="lname">Item Status:</label><br>
                    <input type="text" id="item_status" name="item_status" placeholder="Input Item Status"><br><br>
                    <label for="lname">Quantity:</label><br>
                    <input type="number" id="quantity" name="quantity" placeholder="Enter Item Quantity"><br><br>
                    <input type="submit" value="Submit">
                    </form>
                </div>
                

            </div>
        </div>


    </div>

</div>
{% endblock %}