{% extends 'layouts/a.html' %}
{% block content %}
<div class="container">
    <h2>Dashboard</h2>
    <div>
        <h3>Statistics</h3>
        <div class="statcontainer">
            <div class="statcard"> 
                <h3>Total Inventories</h3>
                <p>35</p>
            </div>
            <div class="statcard"> 
                <h3>Total Requests</h3>
                <p>4</p>
            </div>
            <div class="statcard"> 
                <h3>Total Restocks</h3>
                <p>9</p>
            </div>
        </div>
    </div>

</div>
{% endblock content %}