{% extends 'layouts/a.html' %}

{% block content %}


<div class="container">

    <article class="content">
        <h2>Items</h2>
        {% for item in items %}
        
        <table class="table-auto w-full border-collapse border border-gray-300">
            <thead>
                <tr>
                    <th  class="border border-gray-300 px-4 py-2 text-left">Field</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border border-gray-300 px-4 py-2">Name</td>
                    <td class="border border-gray-300 px-4 py-2">{{ item.name }}</td>
                </tr>
                <tr>
                    <td class="border border-gray-300 px-4 py-2">Item Status</td>
                    <td class="border border-gray-300 px-4 py-2">{{ item.item_status }}</td>
                </tr>  
                <tr>
                    <td class="border border-gray-300 px-4 py-2">quantity</td>
                    <td class="border border-gray-300 px-4 py-2">{{ item.quantity }}</td>
                </tr>                   
            </tbody>           
        </table>
        

        
        {% endfor %}
    </article>

</div>
 


{% endblock content %}