{% extends 'layouts/a.html' %}

{% block content %}

<div class="container">
    <article class="content">
        <div class="flex items-center justify-between">
            <h2>Items</h2>
            <button class="mb-auto bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"><a href="{% url 'create_items' %}">Create Item</a></button>
        </div>
        <table class="table-auto w-full border-collapse border border-gray-300">
            <thead>
                <tr>
                    <th class="border border-gray-300 px-4 py-2 text-left">Name</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Item Status</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Item Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border border-gray-300 px-4 py-2">{{ item.name }}</td>
                    <td class="border border-gray-300 px-4 py-2">{{ item.item_status }}</td>
                    <td class="border border-gray-300 px-4 py-2">{{ item.quantity }}</td>
                </tr>                 
            </tbody>           
        </table>
    </article>
</div>
{% endblock content %}