{% extends 'layouts/a.html' %}
{% block content %}

    <div class = "container">
        <article class="content">
            
            <h2>User Details</h2>
            <table class="table-auto w-full border border-gray-300">
                <thead>
                    <tr>
                        <th  class="border border-gray-300 px-4 py-2 text-left">Field</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border border-gray-300 px-4 py-2">Name</td>
                        <td class="border border-gray-300 px-4 py-2">{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td class="border border-gray-300 px-4 py-2">Email</td>
                        <td class="border border-gray-300 px-4 py-2">{{ user.email }}</td>
                    </tr>                    
                </tbody>           
            </table>
        </article>
    </div>


{% endblock content %}