<aside class="aside" >
    <div class="p-4 flex flex-col space-y-4">
       
        <section>
            <div>
                <ul class="hoverlist">
                    <a href="{% url 'dashboard' %}">
                        <span class="font-bold text-sm">Dashboard</span>
                    </a>
                </ul>
            </div>
        </section>

        <section>
            <ul class="hoverlist">
                <a href="{% url 'users' %}">
                    <span class="font-bold text-sm">Users</span>
                </a>
            </ul>
        </section>
        
        <section>
            <ul class="hoverlist">
                <a href="{% url 'items' %}">
                    <span class="font-bold text-sm">Items</span>
                </a>
            </ul>
        </section>
        
        <section>
            <ul class="hoverlist">
                <a href="{% url 'item_requests' %}">
                    <span class="font-bold text-sm">Items Requests</span>
                </a>
            </ul>
        </section>

        <section></section>
            <ul class="hoverlist">
                <a href="{% url 'restocks' %}">
                    <span class="font-bold text-sm">Restocks</span>
                </a>
            </ul>
        </section>

        <section>
            <ul class="hoverlist">
                <a href="#">
                    <span class="font-bold text-sm">Settings</span>
                </a>
            </ul>
        </section>
        
    </div>
</aside>